:root {
    --dark: #353535;
    --text: #00ffff;
    --white:#ffffff;
    --shadow: #35353510;
    --shadow_hover: #35353550;
     
}
body {
    background-color:#f5f5f5c7;
}
.bg-navbar{
    background-color: var(--dark)
}
 
#navbar .navbar-nav .hover-link:hover {
    /* border: #00ffff; */
    border: var(--text);
    border-style: solid;
}

#navbar .navbar-nav a {
    font-size: 1.5em;
}

.profile img {
    width: 110px; 
    border-radius: 50%;
    
}
.organization-img img {
    width: 50px; 
    border-radius: 50%;
}
.organization-wrapper {
    background-color: #ffffff;
    box-shadow: 0 0  10px var(--shadow_hover);
    /* transition: box-shadow .3s ease-in; */
}
.organization-wrapper:hover {
     
    background-color: #ffffff;
    box-shadow: 0 0  30px var(--dark);
    transition: box-shadow .3s ease-in;
}

.organization-link { 
    text-decoration: none;
    color: inherit;
}
.organization-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--dark);
}
.profile_info {
    font-size: 17px;
}

.navbar-brand {
    font-size: 35px;
    color: var(--text) !important;
    padding: 0px;
}
.btn-text {
    background-color: var(--dark) !important;
    color: var(--text);
    font-weight:bold;
}
.btn-text:hover{
    border: solid var(--text) 1px;
}

.btn-align , .text-align {
    text-align: center;

}

.course {
    font-size: 20px; 
}
.courses {
    /* height: 50px;
    background-color: #d7d7d7;
    border-radius: 10%; */
}
.moto {
    font-size: 1.5em; 
}
.name-sc {
    font-size: 1.5em;
}
.dot {
    font-size: 2em;
}
.school {
    /* border: #00ffff solid; */
    /* border-radius: 2.5%; */
    box-shadow:1px 2px 2px #353535;
    background-color: var(--dark) !important;
     
}
.text-color {
    color: var(--text);
}
.text-cw {
    color: var(--white);
    color: var(--dark) !important;
}
.centered-form { 
    border: #00ffff sodid;
}
.ai_img {
    width: 100%;
}
.text-space {
    letter-spacing: .25em;
}
.wrapper-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.club {
    width: 200px;
}

.organize-num {
   font-weight: bold;
   font-size: 2em;
   color: var(--text);
    
}
.club { 
    font-size: 2em;
    color:var(--dark);
}