:root {
    --dark: #353535;
    --text: #00ffff;
    --white:#ffffff;
     
}
body {
    background-color:#f5f5f5c7;
}
.bg-navbar{
    background-color: var(--dark)
}
 
#navbar .navbar-nav .hover-link:hover {
    /* border: #00ffff; */
    border: var(--text);
    border-style: solid;
}

#navbar .navbar-nav a {
    font-size: 1.5em;
}

.profile img {
    width: 110px; 
    border-radius: 50%;
    
}
.profile_info {
    font-size: 17px;
}

.navbar-brand {
    font-size: 35px;
    color: var(--text) !important;
    padding: 0px;
}
.btn-text {
    background-color: var(--dark) !important;
    color: var(--text);
    font-weight:bold;
}

.btn-align , .text-align {
    text-align: center;
}

.course {
    font-size: 20px; 
}
.courses {
    /* height: 50px;
    background-color: #d7d7d7;
    border-radius: 10%; */
}
.moto {
    font-size: 1.5em; 
}
.name-sc {
    font-size: 2em;
}
.dot {
    font-size: 2em;
}
.school {
    /* border: #00ffff solid; */
    /* border-radius: 2.5%; */
    box-shadow:1px 2px 2px #353535;
    background-color: var(--dark) !important;
     
}
.text-color {
    color: var(--text);
}
.text-cw {
    color: var(--white);
}
.centered-form { 
    border: #00ffff sodid;
  }

