{% extends 'base.html' %}
{% block title %} courses {% endblock %}
{% block body %}



<h3 class="pt-2 pb-2 text-muted container">Courses</h3>

{% for _, course in courses.items() %}
<div class="row  ">
    <div class="col courses d-flex justify-content-center">
        <div class="col-3">
            <div class="font-weight-bold font-size:25px align-self-center">
                Course Title:
            </div>
            <hr>
            <div class="font-weight-bold pr-2">Description:</div>
            <hr>
            <div class="font-weight-bold pr-2">Last Term Offered</div>
            <hr>
        </div>
        <div class="col">
            <div> {{course.title}}</div>
            <hr>
            <div> {{course.desc}} </div>
            <hr>
            <div>{{course.term}} </div>
            <hr>
        </div>

    </div>
</div>

{% endfor %}


<form action="" method="POST" class="mt-5">
    <div class="form-row">
        <div class="form-group col">
            <label for="course">Course Title</label>
            <input class="form-control" type="text" id="course" name="course_title"
                placeholder="SOFTWARE DESIGN AND DEVELOPMENT" />
        </div>
    </div>
    <div class="btn-align pb-5">
        <button class="btn bg-dark btn-text" type="submit">Add Course</button>
    </div>
</form>
{% endblock %}