{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block body %} 


{% if user.is_authenticated %}
<br>
<h4>  
    <span class="text-bold pr-5">Welcome {{user.first_name}} </span>
    <span class="pr-5" align="center">Student ID: {{user.student_id}}</span>
    {% if user.major %}
    <span align="center">Major: {{user.major}}</span>
    {% else %}
    <span align="center">Major: not selected</span>
    {% endif %}

</h4>
{% endif %}
 

<form method="POST">
    <textarea class="form-control" name="note" id="note"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary btn-text">Add Note</button>
    </div>
</form> 

{%endblock%} 