 
{% block body %} 
    {% for key, data in school.items() %} 
    {{data.url}}
        <ul> 
                <div class="row bg-dark text-light school">
                    <div class="col font-weight-bold pt-3">
                        <div class="moto text-primary">
                            {{data.moto}}
                        </div>
                        <div class="font-weight-bold name-sc text-primary">
                        {{key}} <span class="dot">.</span> {{data.state}}
                        </div> 
                    </div>
                    <div class="col pb-2 pt-3">
                        <p class="h5">
                            {% for line in data.text %}
                                {{line}} 
                            {% endfor %}
                            <a href="{{data.major_url}}" target="_blank">Majors/Degrees</a>
                        </p>
                    </div> 
                </div> 
        </ul>
    {% endfor %} 
{% endblock %}